<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Leaderboard</title>

    <link rel="icon" href="/assets/favicon.ico" />
    <link rel="stylesheet" href="css/default.css" />
    <link rel="stylesheet" href="css/leaderboard.css" />
  </head>
  <body>
    <div class="nav_bar">
      <ul>
        <div class="logo">
          <li>
            <a href="/home"><img src="assets/logob.png" /></a>
          </li>
        </div>
        <li><a href="/problems">Problems</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/leaderboard" id="leaderboard">Leaderboard</a></li>
        <li style="float: right"><a href="/logout">Logout</a></li>
        <li style="float: right"><a href="/profile">Profile</a></li>
      </ul>
    </div>
    <div class="list-users">
      <div class="tablelist">
        <table id="table">
          <colgroup>
            <col span="1" style="width: 5%" />
            <col span="1" style="width: 50%" />
            <col span="1" style="width: 25%" />
          </colgroup>
          <tr>
            <th>S.No.</th>
            <th>Name</th>
            <th>Questions Solved</th>
          </tr>
          <% i=1 %><% result.forEach(user => { %>
          <tr>
            <td><%= i %></td>
            <td><%= user.fname %> <%= user.mname %> <%= user.lname %></td>
            <td class="tocentre"><%= user.solved.length %></td>
          </tr>
          <% i=i+1 %><% }); %>
        </table>
      </div>
      <div class="side">
        <div class="news">
          <div class="news-content">
            <br /><a href="#" class="news-title">Title of the news</a
            ><br /><br />
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam
            laboriosam impedit distinctio, ex inventore mollitia.<br />
          </div>
        </div>
        <div class="news">
          <div class="news-content">
            <br /><a href="#" class="news-title">Title of the news</a
            ><br /><br />
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam
            laboriosam impedit distinctio, ex inventore mollitia.<br />
          </div>
        </div>
      </div>
    </div>
    <footer>
      <p>
        This website was developed as part of Project Component of CSE3002 by:
      </p>
      <ul>
        <li>Mohammaed Ryyan</li>
        <li>Samit Maharjan</li>
        <li>Bikalp KC</li>
        <li>Sulav Giri</li>
      </ul>
      <p class="bottom">copyright &copy; 2021, All rights reserved</p>
    </footer>
    <script src="/js/problems.js"></script>
  </body>
</html>
